@{
    var title = Model.ContentItem.Content.TitlePart.Title.Value;
    string img = string.Empty;
    if (Model.ContentItem.Content.Store.Image.Paths.Count > 0)
        img = Model.ContentItem.Content.Store.Image.Paths[0];
    var address = Model.ContentItem.Content.Store.Address.Text;
    var contact = Model.ContentItem.Content.Store.ContactNumber.Text;
    var cpm = Model.ContentItem.Content.Store.CPMVoucherAccepted.Value;
    var url = Model.ContentItem.Content.Store.URL.Text;
    var categories = Model.ContentItem.Content.Store.Category.TermContentItemIds;
    var categoriesText = string.Empty;
    var cId = string.Empty;
    foreach (string termId in categories)
    {
        var term = await Orchard.GetTaxonomyTermAsync((string)Model.ContentItem.Content.Store.Category.TaxonomyContentItemId, termId);
        if (term != null)
        {
            cId = cId + ", " + termId;
            categoriesText = categoriesText + ", " + term.ToString();
        }

    }
    var level = address.ToString().Split('-')[0].ToString();
    var firstCharacter = title != null ? title.Substring(0, 1).ToUpper() : "#";
    int number;
    int.TryParse(firstCharacter, out number);
    var filterCharacter = number == 0 && firstCharacter != "0" ? firstCharacter : "#";

    //Open & Close Time
    var strOpenTime = string.Empty;
    var strCloseTime = string.Empty;
    var storeTime = string.Empty;
    if (Model.ContentItem.Content.Store.OpenTime != null && Model.ContentItem.Content.Store.CloseTime != null
        && Model.ContentItem.Content.Store.OpenTime.Value != null && Model.ContentItem.Content.Store.CloseTime.Value != null)
    {
        var openTime = Model.ContentItem.Content.Store.OpenTime.Value.ToString();
        var closeTime = Model.ContentItem.Content.Store.CloseTime.Value.ToString();
        strOpenTime = DateTime.Now.Date.Add(TimeSpan.Parse(openTime)).ToString("hh:mm tt");
        strCloseTime = DateTime.Now.Date.Add(TimeSpan.Parse(closeTime)).ToString("hh:mm tt");
        storeTime = strOpenTime + " to " + strCloseTime;
    }
}
<!-- Card -->
<div class="col-md-6 col-lg-6 col-xl-3 mt-3 dataCard"
     data-category="@cId"
     data-first-character="@filterCharacter"
     data-level="@level"
     data-cpm="@cpm">
    <div class="border p-3 p-md-4 h-100 d-flex flex-column justify-content-between">
        <div>
            <div class="d-block h-9rem h-lg-12rem">
                <a href="@url" target="_blank" class="d-block h-9rem h-lg-12rem">
                    @if (!string.IsNullOrEmpty(img))
                    {
                        <img asset-src="@img" class="w-100 h-100 object-fit-cover" alt="Store" />
                    }
                    else
                    {
                        <img class="w-100 h-100 object-fit-cover" src="content/images/stores/TWMLogo.jpg"
                         alt="TWM" />
                    }
                </a>
            </div>
            <div class="mt-3">
                <h5 class="mb-2 fw-md-normal fs-15px-sm store-card__name">@title</h5>
                <p class="mb-0 text-muted fs-base store-card__category">
                    @categoriesText.Trim(',')
                </p>
            </div>
        </div>
        <ul class="list-unstyled mt-3">
            <li class="ps-5 position-relative mb-3">
                <span class="position-absolute start-0 top-0">
                    <i class="icon-block icon-block--location2"></i>
                </span>
                <div class="text-gray pt-1 store-card__location">@address</div>
            </li>
            @if (storeTime != string.Empty)
            {
                <li class="ps-5 position-relative mb-3">
                    <span class="position-absolute start-0 top-0">
                        <i class="icon-block icon-block--clock"></i>
                    </span>
                    <div class="text-gray pt-1 store-card__time">@storeTime</div>
                </li>
            }
            @if (contact != string.Empty)
            {
                <li class="ps-5 position-relative mb-3">
                    <span class="position-absolute start-0 top-0">
                        <i class="icon-block icon-block--phone2"></i>
                    </span>
                    <a href="tel:@contact" class="text-gray pt-1 store-card__contact">@contact</a>
                </li>
            }
        </ul>
    </div>
</div>
<!-- Card -->
